{% load static %}
<!-- jQuery Library -->
<script src="{% static "Base/js/jquery-1.12.4.min.js" %}"></script>
<!-- Bootstrap js -->
<script src="{% static "Base/js/bootstrap.min.js" %}"></script>
<!-- Slick Slider -->
<script src="{% static "Base/js/slick.min.js" %}"></script>
<!-- Venubox -->
<script src="{% static "Base/js/venobox.min.js" %}"></script>
<!-- Mains Custom js -->
<script src="{% static "Base/js/custom.js" %}"></script>
<!-- Footer Code -->
{{ header_footer_code.footer_code|safe }}
