{% extends "Reporter/dashboard.html" %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Start-->
<style type="text/css">
   input[type=text], select, textarea {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
   }
</style>
<!-- Start-->
{% if messages %}
{% for message in messages %}
<div class="alert  alert-success alert-dismissible fade show" role="alert">
   <span class="badge badge-pill badge-success">Success!</span> {% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}.
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
</div>
{% endfor %}
{% endif %}
<div class="col-xl-12">
   <div class="card">
      <div class="card-body">
         <div class="row">
            <div class="col-sm-6">
               <h2 class="card-title mb-0">Add New Category</h2>
            </div>
            <!--/.col-->
         </div>
         <!--/.row-->
         <hr>
         <div class="chart-wrapper mt-4" >
            <div class="row">
               <div class="col-sm-6">
                  <form method='POST' action=''>
                     {% csrf_token %}
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-12">
                              {{ form|crispy }}
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <input type="submit" value="Create" class="btn btn-primary btn-lg" name="general_category"> 
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
               <div class="col-sm-6">
                  <form method='POST' action=''>
                     {% csrf_token %}
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-12">
                              {{ form2|crispy }}
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <input type="submit" value="Create" class="btn btn-primary btn-lg" name="divisonal_category"> 
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <br>
            <br>
            <div class="row">
               <div class="col-sm-6">
                  <h2>General Category</h2>
                  <hr>
                  <table class="table table-bordered">
                     <tbody>
                        {% for ob in qs %}
                        <tr>
                           <td>
                              {{ ob.category_name }}
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <div class="col-sm-6">
                  <h2>Divisional Category</h2>
                  <hr>
                  <table class="table table-bordered">
                     <tbody>
                        {% for ob in qs2 %}
                        <tr>
                           <td>
                              {{ ob.name_of_distict }}
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End -->
{% endblock %}
