<div class="col-sm-6 col-lg-3">
   <div class="card text-white bg-flat-color-1">
      <div class="card-body pb-0">
         <h4 class="mb-0">
            <span class="count">{{ total_posts.count }}</span>
         </h4>
         <p class="text-light">Total Posts !</p>
      </div>
   </div>
</div>
<!--/.col-->
<div class="col-sm-6 col-lg-3">
   <div class="card text-white bg-flat-color-2">
      <div class="card-body pb-0">
         <h4 class="mb-0">
            <span class="count">{{ todays_post }}</span>
         </h4>
         <p class="text-light">Todays Posts !</p>
      </div>
   </div>
</div>
<!--/.col-->
<div class="col-sm-6 col-lg-3">
   <div class="card text-white bg-flat-color-3">
      <div class="card-body pb-0">
         <h4 class="mb-0">
            <span class="count">{{ user_post.count }}</span>
         </h4>
         <p class="text-light">My Total Posts ! </p>
      </div>
   </div>
</div>
<!--/.col-->
<div class="col-sm-6 col-lg-3">
   <div class="card text-white bg-flat-color-4">
      <div class="card-body pb-0">
         <h4 class="mb-0">
            <span class="count">{{ user_count.count }}</span>
         </h4>
         <p class="text-light">Total Reporters !</p>
      </div>
   </div>
</div>
<!--/.col-->
<div class="col-xl-12">
   <div class="card">
      <div class="card-body">
         <div class="row">
            <div class="col-sm-6">
               <h4 class="card-title mb-0">Site Performance</h4>
            </div>
            <!--/.col-->
         </div>
         <!--/.row-->
         <hr>
         <div class="chart-wrapper mt-4" >
            <div id="chart_div" style="width: 100%; height: 400px;"></div>
         </div>
      </div>
   </div>
</div>
<div class="col-xl-6">
   <div class="card">
      <div class="card-body">
         <div class="row">
            <div class="col-sm-6">
               <h4 class="card-title mb-0">My Performance</h4>
            </div>
            <!--/.col-->
         </div>
         <!--/.row-->
         <hr>
         <div class="chart-wrapper mt-4" >
            <div id="chart_div2" style="width: 100%; height: 300px;"></div>
         </div>
      </div>
   </div>
</div>
<div class="col-xl-6">
   <div class="card">
      <div class="card-body">
         <div class="row">
            <div class="col-sm-6">
               <h4 class="card-title mb-0">User Performance</h4>
            </div>
            <!--/.col-->
         </div>
         <!--/.row-->
         <hr>
         <div class="chart-wrapper mt-4" >
            <div id="chart_div3" style="width: 100%; height: 300px;"></div>
         </div>
      </div>
   </div>
</div>
