beautifulsoup4==4.6.0
Django==1.11.15
django-ckeditor==5.4.0
django-crispy-forms==1.7.0
django-js-asset==1.0.0
django-markdown-deux==1.0.5
django-pagedown==1.0.4
django-summernote==0.8.8.6
markdown2==2.3.5
Pillow==5.0.0
pytz==2018.3
